*.o
*.lo
*.a
*.la
*~
*.gcno
*.gcda
*.gcov
/gcov-report.txt

.deps
.dirstamp
.libs
stamp-h1
stamp-h2
/INSTALL
/compile
/configure.lineno
/depcomp
/ABOUT-NLS
/config.rpath

Makefile
Makefile.in
/configure
/config.sub
/config.status
/config.log
/config.h
/config.h.in
/config.guess
/autom4te.cache
/aclocal.m4
/mkinstalldirs
/missing
/ltmain.sh
/libtool
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/compile-binding.am
/dist-changelog.am
/doc-reference.am
/generate-binding.am
/messages.mo
/omf.make
/xmldocs.make

/test-driver
*.log
*.trs

/macros/libtool.m4
/macros/ltoptions.m4
/macros/ltsugar.m4
/macros/ltversion.m4
/macros/lt~obsolete.m4

# docs
/docs/doc-install.pl
/docs/doc-postprocess.pl
/docs/doxygen.css
/docs/doxygen-extra.css
/docs/tagfile-to-devhelp2.xsl
/docs/reference/Doxyfile
/docs/reference/*.log
/docs/reference/*.tag
/docs/reference/*.devhelp2
/docs/reference/html/

/examples/murrayc_dp_make_change
/examples/murrayc_dp_bottom_up_string_edit_distance
/examples/murrayc_dp_bottom_up_string_substring_matching
/examples/murrayc_dp_bottom_up_triple_step
/examples/murrayc_dp_string_edit_distance
/examples/murrayc_dp_string_substring_matching
/examples/murrayc_dp_top_down_knapsack
/examples/murrayc_dp_top_down_make_change
/examples/murrayc_dp_top_down_string_edit_distance
tests/test_vector_of_vectors




